<p>*************Pipes*****************</p>

<p>{{asyncPromise | async}}</p>
<ul>
  <li *ngFor="let entry of keyValueObj | keyvalue">
    {{ entry.key }} - {{ entry.value }}
  </li>
  <!-- itère sur les propriétés de l'objet -->
  <!--<li>key1 - value1</li>-->
  <!--<li>key2 - value2</li>-->
</ul>
<ul>
  <li *ngFor="let formation of formations; index as i">
    {{ formation.name | titlecase}} <span *ngIf="formation.price !== undefined? true:false">: {{formation.price |currency:'EUR'}}</span>
   <div *ngIf="formation.dateDeb !== undefined">du {{formation.dateDeb | date:'dd/MM/yyyy'}}</div>
  <div *ngIf="formation.dateFin !== undefined">au {{formation.dateFin | date:'dd/MM/yyyy'}}</div>
  </li>
</ul>
